body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: 'Lexend', sans-serif;
            overflow-x: hidden;
        }
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            text-align: center;
            position: relative; /* Required for z-index to work */
            z-index: 1; /* Ensure content is above the background */
            background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, rgb(50, 45, 45) 95%);
        }

        .title-container {
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: 7em;
        }
        .title {
            color: antiquewhite;
            font-size: 3em;
            margin-top: -1em;
            margin-bottom: -1em;
            position: static;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .subtitle {
            color: antiquewhite;
            font-size: 1.25em;
            margin-top: -1em;
            margin-bottom: -1em;
            position: static;
            text-align: left;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
        }
        .button-container button {
            font-family: 'Lexend', sans-serif;
            font-weight: 300;
            margin: 10px 0;
            padding: 10px 20px;
            font-size: 1.2em;
            color: antiquewhite;
            background-color: rgb(50, 45, 45, 0);
            border: none;
            cursor: pointer;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            width: 7em;
        }
        .button-container button:hover {
            /* background-color: rgb(75, 65, 65);  Change background color on hover */
            /* font-size: 1.7em; */
            transform: scale(1.25);
            transition: transform 0.1s ease-in-out;
        }
        .section {
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; /* Required for z-index to work */
            z-index: 1; /* Ensure content is above the background */
        }
        #section1 { background: rgb(50, 45, 45); }
        .parallax-background {
            z-index: -1;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            /* Add your background image here */
            /* Optionally, you can add transparency to the image */
            opacity: 1;
        }
        #para1 { background-image: url('images/background1.jpg'); min-height: 100vh; }
        #para2 { background-image: url('images/background4.jpg'); min-height: 100vh; }

        /* .parallax-gradient {
            background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 99%, rgb(31, 31, 31) 100%);
            min-height: 50vh;
        } */

        nav {
            font-family: 'Lexend', sans-serif;
            display: flex; /* Use flexbox */
            justify-content: flex-end; /* Align items to the right */
            align-items: center; /* Align items vertically */
            position: fixed;
            padding: 15px;
            top: 10px;
            right: 20px; /* Adjusted for top-right positioning */
            z-index: 1000;
        }
        

        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 20px;
            cursor: pointer;
        }

        .hamburger div {
            width: 100%;
            height: 4px;
            background-color: antiquewhite;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            right: 0;
            background-color: rgb(50, 45, 45);
            overflow-x: hidden;
            transition: 0.5s;
            box-shadow: -2px 0 5px rgba(0,0,0,0.5);
            padding-top: 60px;
            z-index: 1000;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 1.5em;
            color: antiquewhite;
            display: block;
            transition: 0.3s;
            cursor: pointer;
        }

        .sidenav a:hover {
            color: #f1f1f1;
            background-color: #575757;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 5px;
            right: 20px;
            font-size: 36px;
            margin-left: 50px;
        }

        .sidenav .closebtn:hover {
            background-color: rgb(50, 45, 45);
            transform: scale(1.1);
            transform-origin: right;
        }

        .content-text {
            background-color: rgb(50, 45, 45);
            color: antiquewhite;
            font-weight: 300;
            top: 0;
            margin-left: 25vw;
            margin-right: 25vw;
        }

        .content-text:link {
            color: antiquewhite
        }
        
        @media (max-width: 1024px) {
            .content-text{
                margin-left: 20px;
                margin-right: 20px;
                max-width: 90vw;
            }
        }